body{
    background-color: rgb(19, 40, 46);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
*{
    margin:0;
    padding: 0;
}

.gameGrid{
    border: 5px solid rgb(126, 123, 123);
    width: 50rem;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: rgb(194, 178, 178);
    
}

.gameGrid > div{
    border: 1px solid rgb(119, 111, 111);
}

.playerContainer{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 50rem;
    color: white;
}

.playerOne,
.playerTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.playersHeading{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(190, 188, 185);
}

.boxHovered{
    background-color: rgb(76, 99, 107);
}

.header {
    font-family: 'Titan One', cursive;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 60px;
    color: rgb(67, 138, 116);
}

.playerOneSelection,
.playerTwoSelection{
    width: 70px;
    height: 70px;
}